################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EngineTest/.vs/EngineTest/v16/Server/sqlite3/db.lock
